<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class=" navbar-brand" href="#">GITHUB SEARCH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" ms-auto collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="  navbar-nav">
        <a class="nav-link active" routerLink="searchuser" routerLinkActive='active'>Search Users<span class="sr-only">(current)</span></a>
        <a class="nav-link active" routerLink="searchrepo" routerLinkActive='active'>Search Repo</a>
        
      </div>
    </div>
  </nav>
